body{
    background-image : url('https://img.elo7.com.br/product/zoom/25DD636/painel-fotografico-degrade-azul-e-rosa-escritorio.jpg');
    background-size: auto 100vh;
    height: 100vh;
  }
  
  .menu{
    background-color: white;
  }
  
  .menu ul{
    display:flex;
    justify-content: space-around
  }
  
  .menu li{
    list-style: none;
  }
  
  a {
    color: Indigo;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .site-subtitle,
  .site-title{
    color:whitesmoke;
    text-align: center;
    
  }
  
  